# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Uploads (optional if you don't want uploaded files in Git)
uploads/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

.env